.dropzone{
    width: 6rem;
    height: 3rem;
    background-color: grey;
    margin-left: 5rem;
    
   
}

.dropbox{
    width: 6rem;
    height: 3rem;
    background-color: rgba(19, 19, 217, 0.937);
    margin-top: 1rem;
    margin-right: 20rem;
    
    
}
.right{
    display: flex;
    flex-direction: column;
    float: right;
    
}
.left{
    width:30rem;
    height:50rem;
    display: flex;
    flex-direction: column;
    float: left;
}
.p{
   
    width: 6rem;
    font-weight: bold;
    font-size: 1rem;
display: block;
position: relative;
bottom: -2rem

}
.dropbox p{
    color: white;
    font-weight: bold;
    text-align: center;
}
    
.contain{
    text-align: left;
}
